.header-nav--mobile {
  position: fixed;
  left: 0;
  right: 0;
  top: -200%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  opacity: 0;
  z-index: 0;

  transition: all 0.5s linear;
}
.header-list--mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  row-gap: 16px;

  text-align: center;
}
.header-item--mobile {
  text-transform: uppercase;
  cursor: pointer;
}
.header-item {
}

.header-nav--mobile.active {
  z-index: 999;
  opacity: 1;

  top: 0;

  pointer-events: unset;
}
